<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>where admin goes when logged in</h1>
    <% Administrator.each do |admin| %>
    <p>Email: <%= admin.email %></p>
    <% end %>

  </body>
</html>
